/* ==================== General config ==================== */
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
.navbar{
    /* #2C0F2D */
    /* #6A3E6F */
    /* #3F1342 */
    background: 
        linear-gradient(90deg, #2B3035, #3F1342);

}
/* .nav-link:hover{
    color: #C70039 !important;
} */
.acerca-de, .videos, .sets, .fotografia, .contrataciones{
    padding: 1.5rem;
}

h2{
    text-align: center;
    padding-bottom: 2vh;
}

/* Configuración de la sección de sets */
.sets-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
}
.sets-div p{
    max-width: 27vw;
    font-size: medium;
}

.card-title{
    text-align: left;
    font-size: 1.2rem;
}

.btn-card{
    font-size: 0.8rem !important;
}

/* Configuración del footer */
.footer{
    color: white;
    background-color: #2B3035;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

footer span{
    font-size: smaller;
}

/* Tamaño de imagen del footer */
footer img{
    height: 8rem;
    width: auto;
}
/* Configuración del contenido del footer */
.antharious-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* Configuración del div de redes sociales */
.social-media{
    display: flex;
    justify-content: center;
    gap: 15px;
}
/* Tamaño de iconos del footer */
.social-media img{
    height: 35px;
    width: auto;
}

.social-media-logo{
    filter: brightness(0) saturate(100%) invert(100%);
    /* transition: filter 0.3s ease; */
}

/* Hovers */

/* filter: brightness(0) saturate(100%) invert(13%) sepia(96%) saturate(2951%) hue-rotate(319deg) brightness(91%) contrast(105%); */
/* filter: brightness(0) saturate(100%) invert(70%) sepia(83%) saturate(819%) hue-rotate(8deg) brightness(95%) contrast(105%); */
/* #C70039 */
.social-media-logo:hover{
    filter: brightness(0) saturate(100%) invert(25%) sepia(97%) saturate(3127%) hue-rotate(334deg) brightness(91%) contrast(104%);
}




/* ==================== Responsive Design ==================== */

@media(min-width:990px){
    /* Estilo de la navbar cuando no está contraída */
    .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        height: 100% !important;
    }
    .card-set{
        width: 17vw !important;
    }
}

@media(max-width: 1024px){

    .sets-div p{
        max-width: 25vw;
        font-size: small;
    }
    .card{
        width: auto !important;
        height: 100% !important;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .card-title{
        text-align: center !important;
    }
    .card-title{
        text-align: left;
        font-size: small;
    }
    .btn-card{
        font-size: 0.6rem !important;
    }
}

@media(max-width:768px) {
    .sets-div{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .sets-div p{
        font-size: medium !important;
        max-width: 100% !important;
    }
    .card{
        width: auto;
        height: 100% !important;
    }
    .card-title{
        text-align: left;
        font-size: small !important;
    }

    .btn-card{
        font-size: small !important;
    }

    footer span{
        font-size: x-small;
    }
    .antharious-info img{
        width: 25px;
    }
    .antharious-info{
        gap: 1.5vw;
    }
    footer img{
        height: 6rem;
        width: auto;
    }
}

@media(max-width:425px){
    .sets-div p{
        max-width: 100%;
        font-size: small !important;
    }

    .card-set-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 80vw;
        height: 100% !important;
    }
    /* Tamaño horizontal del div que contiene las redes sosciales */
    .antharious-info{
        width: 45vw;
    }
    /* Espacio entre elementos del footer (imagen y redes) */
    .footer{
        gap: 1rem;
    }
    /* Texto centrado para el span de copyright */
    footer span{
        text-align: center;
    }
}

@media(min-width:425px){
    .card-set{
        margin: 0 !important;
    }
}

@media (min-width:768px) {
    .btn-card{
        /* font-size: 0.4rem !important; */
        font-size: x-small !important;
    }
}